        <div class = "flex flex-col justify-center items-center self-center h-4/5 w-9/12 bg-sky-600 rounded-3xl border-8 border-sky-600">
            <div class="flex h-1/6 w-full bg-sky-600 rounded-t-3xl">
                <p class="w-full font-extrabold text-white self-end px-4 text-5xl antialiased ">Create New Post!</p>
            </div> 
            <form action="" class="flex flex-col justify-center items-center h-full w-full bg-black rounded-b-3xl">
                <lable class="text-white self-start text-5xl w-11/12 pl-10 my-3" for="title">Title:</lable>
                <input class="rounded-xl  h-16 w-11/12 mb-2 border-8 border-sky-600" type="text" id="title" name="title" >
                    
                <lable class="text-white self-start text-5xl w-11/12 pl-10 my-3" for="title">Description:</lable>
                <textarea class="rounded-xl h-1/3 w-11/12 mb-2 border-8 border-sky-600" type="text" id="title" name="title" ></textarea>
                    
                <input class = "font-extrabold text-white text-2xl w-1/6 h-14 my-5 antialiased rounded-xl
                outline outline-8 outline-sky-500 outline-offset-4 hover:outline-dashed" type = "submit" value = "Create!"> 
            </form>
        </div>