        <div class = "flex flex-col justify-center items-center self-center h-56 w-10/12 bg-black overflow-y-auto rounded-3xl m-2">
            <div class="flex flex-row h-1/6 w-full bg-sky-500 justify-between  rounded-t-3xl overflow-y-auto">
                <p class="w-full font-extrabold text-black self-end px-4 text-3xl antialiased ">Create New Post!</p>
                <p class="w-full font-extrabold text-black self-end px-4 text-3xl antialiased text-right">Create New Post!</p>
            </div> 
                <div class="flex h-5/6 w-full bg-black border-8 border-sky-500 self-start rounded-b-3xl overflow-y-auto">
                <p class="text-white w-full h-full antialiased overflow-x-visible"></p>   
            </div>
        </div>